<footer class="footer-copyright text-center py-3 navbar-dark bg-dark">
	<section>
		{# <img src="{{ asset('assets/images/logo.jpg') }}" alt="logo Team2i" > #}
	</section>

	<section>
		<p>Copyright © 2016 <a href="https://www.new3s.com/" class="text-white">NEW3S.</a>  All Rights Reserved | <a href="https://twitter.com/mdo" class="text-white"> Informations légales</a>.</p>
	</section>
    
</footer>
