{% extends 'base.html.twig' %}

{% block title "Modification du mot de passe" %}
	
{% block body %}
	<div class="container">
		<h1 class="mt-4"> Modifier son mot de passe </h1>

		{{ form(form) }}
	</div>
{% endblock %}
