{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Nos derniéres missions</h1>

		<div class="row mb-2">
			<div class="col-md-8">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
						<h3 class="mb-0">Featured post</h3>
						<div class="mb-1 text-body-secondary">Nov 12</div>
						<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
							Continue reading
							<svg class="bi"><use xlink:href="#chevron-right"/></svg>
						</a>
					</div>

					<div class="col-auto d-none d-lg-block info_mission">
						<p> Date de démarrage <br/></p>
						<p> Durée <br/></p>
						<p> TJM <br/></p>
						<p> TÉLÉTRAVAIL <br/></p>
						<p> LIEU <br/></p>
					</div>
				</div>
				
			</div>

			<div class="col-md-8">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<strong class="d-inline-block mb-2 text-success-emphasis"> BNP PARISBAS </strong>
						<h3 class="mb-0"> Développeur confirmé PHP (H/F)</h3>
						<div class="mb-1 text-body-secondary">Publié le : 31/07/2024 </div>
						<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
							Voir l'offre
							<svg class="bi"><use xlink:href="#chevron-right"/></svg>
						</a>
					</div>

					<div class="col-auto d-none d-lg-block">
						<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
					</div>
				</div>
				
			</div>
		</div>


		<div class="album py-5 bg-body-tertiary">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="col">
					<div class="card shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
							<title>Développeur confirmé PHP (H/F)</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
						</svg>
						<div class="card-body">
							<h4>
								Développeur confirmé PHP (H/F)
							</h4>
							<h5>
								BNP PARISBAS
							</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">
										<a class="nav-link" href="{{ path('app_mission_show') }}">voir l'offre
										</a>
									</button>
								</div>
								<small class="text-body-secondary">9 mins</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
